<section class="text-gray-600 bg-gray-100 body-font">
  <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
    <div *ngIf="this.authService.currentUser" class="bg-white overflow-hidden shadow rounded-lg border">
      <!-- IMAGE -->
      <div class="px-4 py-5 sm:px-6">
        <div class="flex justify-center relative">
          @if (photoUrl == null) {
          <div *ngIf="!loadingpage"
            class="w-96 h-96 object-center rounded-full bg-gray-400 absolute top-auto left-auto">
            <div role="status" class="top-28 left-28 absolute">
              <svg aria-hidden="true" class="w-40 h-40 text-gray-200 animate-spin dark:text-gray-600 fill-red-600"
                viewBox="0 0 100 101" fill="none" stroke-width="2" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="currentColor" />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentFill" />
              </svg>
              <div class="animate-spin absolute font-medium top-16 right-auto" style="left: 52px;">
                Loading
              </div>
            </div>
          </div>
          <label for="dropzone-file">
            <div class="w-96 h-96 object-center rounded-full bg-gray-400 flex justify-center items-center">
              <div class="top-32 left-32 flex flex-col items-center"> <!-- Adjusted to flex column -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-40 h-40 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to
                    upload</span> or
                  drag and drop</p>
                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
              </div>
            </div>
          </label>
          <input id="dropzone-file" type="file" (change)="submit($event)" class="hidden"/>
          }
          @if (photoUrl != null) {
            <label for="dropzone-file" class="absolute top-2 right-0">
              <div class="relative group w-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 group form-checkbox">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                </svg>
                <span
                class="opacity-0 text-gray-500 absolute top-0 w-full h-full flex justify-center items-center text-sm group-hover:opacity-100 transition-opacity duration-300 -mt-6">
                change IMG</span>
              </div>
            </label>
            <input id="dropzone-file" type="file" (change)="submit($event)" class="hidden"/>
          <img class="w-96 h-96 object-center rounded-full" alt="hero" [src]="photoUrl">
          }
        </div>
      </div>
      <!-- USER INFO -->
      <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
          <!-- USERNAME -->
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              User name
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-1">
              @if(!usernameInputVissible) {
              {{this.authService.currentUserSig()?.username}}
              }
              @else if(usernameInputVissible){
              <form [formGroup]="usernameForm">
                <input type="text" name="username" id="username" formControlName="username"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="new Username" required>
              </form>
              }
            </dd>
            <dd class="text-sm ms:text-lg sm:ml-16 text-gray-900 sm:col-span-1">
              <button (click)="showUsernameInputer()"
                class="bg-blue-500 w-24 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                @if (this.authService.currentUserSig()?.username == undefined) {
                Set
                }
                @else {
                Change
                }
              </button>
            </dd>
          </div>
          <!-- EMAIL -->
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Email address
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-1">
              {{this.authService.currentUserSig()?.email}}
            </dd>
          </div>
          <!-- LOG OUT && REMOVE ACOUNT -->
          <div class="py-3 sm:py-5 flex justify-center sm:gap-4 sm:px-6">
            <!-- LOG OUT -->
            <div class="text-2xl text-gray-900">
              <button (click)="logOut()"
                class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Log
                Out</button>
            </div>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <!-- REMOVE ACOUNT -->
            <div class="text-2xl text-gray-900">
              <button (click)="deleteAccount()"
                class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Remove
                Account</button>
            </div>
          </div>
          <!-- RESET PASSWORD -->
          <div class="py-3 sm:py-5 flex justify-center sm:gap-4 sm:px-6">
            <button (click)="resetPasswordLogInApplication()"
              class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Reset
              Password</button>
            {{errorMessage}}
          </div>
        </dl>
      </div>
    </div>
    <div *ngIf="!this.authService.currentUser" class="bg-white overflow-hidden shadow rounded-lg border p-8 mt-16">
      <h1>You Are Not Logged In</h1>
      <h2>First You Have To Log In</h2>
      <a class="text-blue-500 underline ml-16" href="/profile/log-in">Log In</a>
    </div>
  </div>
  <div *ngIf="loading" class="h-[1000px] w-full bg-gray-100 absolute left-0 top-16">
    <div class="rounded-full mx-auto mt-40 h-20 w-20 bg-violet-800 animate-ping"></div>
  </div>
</section>